<div class="container">
    <div class="row m-5">
        <h2>Contact</h2>
        <hr>
        <h4 class="mt-4">Send us a message</h4>
        <form [formGroup]="contactForm">
            <div class="d-flex">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input  type="text" 
                        name="name" 
                        formControlName="name" 
                        matInput 
                     />
                    <mat-error *ngIf="(this.contactForm?.get('name')).hasError('required')">Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="(this.contactForm?.get('name')).hasError('pattern')">Type only letters, first letter capitalized.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width mx-3" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input  type="text" 
                            name="email" 
                            formControlName="email" 
                            matInput
                    />
                    <mat-error *ngIf="(this.contactForm?.get('email')).hasError('email') && !(this.contactForm?.get('email')).hasError('required')">Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="(this.contactForm?.get('email')).hasError('required')">Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Subject</mat-label>
                <input
                         type="text" 
                         name="message" 
                         formControlName="subject" 
                         matInput 
                 />
                 <mat-error *ngIf="(this.contactForm?.get('subject')).hasError('pattern')">Please enter a valid subject!
                </mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <textarea 
                         type="text" 
                         name="message" 
                         formControlName="message" 
                         matInput 
                         minlength="5"
                         
                ></textarea>
                <mat-error *ngIf="(this.contactForm?.get('message')).hasError('pattern')">Type a short text of minimum 10 characters!
                </mat-error>
                <mat-error *ngIf="(this.contactForm?.get('message')).hasError('required')">Message is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>

         
            <mat-checkbox
                         name="agree" 
                         color="accent"
                         formControlName="agree" 
                >I agree to terms and conditions.
            </mat-checkbox> 
   
            <br>

            <button type="button" mat-raised-button color="accent" (click)="submitForm()" class="mt-3">Send</button>
        </form>
    </div>
</div>